absl-py==0.11.0
argcomplete==1.12.2
asgiref==3.3.1
astunparse==1.6.3
bagit==1.7.0
CacheControl==0.11.7
cachetools==4.2.0
certifi==2020.11.8
chardet==3.0.4
coloredlogs==14.0
cwl-utils==0.7
cwlref-runner==1.0
cwltool==3.0.20201121085451
decorator==4.4.2
Django==3.1.5
et-xmlfile==1.0.1
flatbuffers==1.12
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
humanfriendly==8.2
idna==2.10
isodate==0.6.0
jdcal==1.4.1
Keras-Preprocessing==1.1.2
lockfile==0.12.2
lxml==4.6.2
Markdown==3.3.3
mistune==0.8.4
mypy-extensions==0.4.3
networkx==2.5
numpy==1.19.4
oauthlib==3.1.0
openpyxl==3.0.5
opt-einsum==3.3.0
pandas==1.2.0
Pillow==8.0.1
protobuf==3.14.0
prov==1.5.1
psutil==5.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
rdflib==4.2.2
rdflib-jsonld==0.5.0
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel.yaml==0.16.5
schema-salad==7.0.20200811075006
shellescape==3.4.1
six==1.15.0
sqlparse==0.4.1
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
torch==1.7.1
torchvision==0.8.2
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
